{
  "env": {
    "ANTHROPIC_AUTH_TOKEN": "YOUR_AUTH_TOKEN_HERE",
    "MCP_TIMEOUT": "180000",
    "MCP_TOOL_TIMEOUT": "180000"
  },
  "permissions": {
    "allow": [],
    "ask": [],
    "defaultMode": "auto"
  },
  "hooks": {
    "PreToolUse": [
      {
        "matcher": "Bash",
        "hooks": [
          {
            "type": "command",
            "command": "$HOME/.claude/hooks/rtk-rewrite.sh"
          }
        ]
      }
    ]
  },
  "statusLine": {
    "type": "command",
    "command": "bash $HOME/.claude/statusline-command.sh"
  },
  "enabledPlugins": {
    "clangd-lsp@claude-plugins-official": true,
    "gopls-lsp@claude-plugins-official": true,
    "context7@claude-plugins-official": true,
    "github@claude-plugins-official": true,
    "aws-core@claude-plugins-official": true,
    "superpowers@claude-plugins-official": true
  },
  "spinnerVerbs": {
    "mode": "append",
    "verbs": []
  },
  "autoCompactWindow": 1000000,
  "skipDangerousModePermissionPrompt": true,
  "theme": "dark",
  "skipAutoPermissionPrompt": true,
  "claude-code.enableAuthLogin": true
}
